@import "../../themes/colors.scss";

.Pagination {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;


    li {
        list-style: none;

        button {
            background-color: $primary;
            border: 1px solid $border-color;
            font-size: 2em;
            width: 1.5em;
            height: 1.5em;
            color: $text-color;
        }
    }
}