@import "../../themes/colors.scss";

.Header {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    background-color: $secondary;

    color: $text-color;
    padding: .2em;

    h3 {
        margin: 0;
    }

    h3, .icons {
        align-self: center;
        margin: 0 .5em;
    }

    .icons {
        svg {
            margin: 0 .2em;
            font-size: 1.3rem;
        }
    }
}
